#demo {
    font-size: 4.5rem;
    text-align: left;
}
  
.sign {
    font-size: .6rem;
    text-align: center;
    margin-bottom: 0.2rem;
} 

img {
    max-height: 18px;
    margin-bottom: -0.2rem;
}
  
#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 90px;
    place-items: center;
    font-family: 'Quicksand', sans-serif; 
}

a:hover {
    background-color: rgba(44, 44, 44, .1);
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
#demo {
    font-size: 2.7rem;
    }
}